*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    text-align: center;
    padding-top: 200px;
    background: linear-gradient(green, yellow);
}

button{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
   color: red;
   border-radius: 20px;
}
h1{
    font-size: 75px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

form{
    padding-bottom: 20px;
}

h1{
  padding-bottom: 50px;  
}